:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

/*================================================BODY=================================================*/
body {
  font-family: var(--main-font);
  font-style: normal;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

/*================================================COMPONENTS===============================================*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/*================================================HEADER===============================================*/
.header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header .container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
  align-items: center;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header .logo {
  margin-right: 93px;
}

.site-nav-list-item:not(:last-child),
.contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo > span {
  color: var(--accent-color);
}

.site-nav-link.is-current {
  color: var(--accent-color);
}

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus,
.contact-mail:hover,
.contact-mail:focus,
.contact-num:hover,
.contact-num:focus {
  color: var(--accent-color);
}

.contact-mail,
.contact-num {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/*======================================================HERO====================================*/
.hero {
  padding: 200px 0;
  background-color: #2f303a;
}

.hero .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-title {
  width: 100%;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  cursor: pointer;
  border: none;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
}

/*======================================================FEATURES====================================*/
.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features {
  display: flex;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*=====================================================WHAT WE ARE DOING====================================*/
.section-works {
  padding-bottom: 94px;
}

.gallery-list {
  display: flex;
  margin-top: 50px;
}

.illustration:not(:last-child) {
  margin-right: 30px;
}
/*=====================================================OUR TEAM====================================*/

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.employees-list {
  display: flex;
  margin-top: 50px;
}

.employees-list > .item:not(:last-child) {
  margin-right: 30px;
}

.employees-list > .item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-description-wrapper {
  padding: 30px 0;
}

.employees-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.employees-desc {
  margin-top: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*=====================================================FOOTER====================================*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.contacts-info {
  padding-top: 20px;
}
.contacts-info > .item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-logo > span {
  color: var(--accent-color);
}

.location {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contact-item {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*=======================================================PORTFOLIO================================*/
.section-examples {
  padding-top: 94px;
  padding-bottom: 94px;
}

.selector-list {
  display: flex;
}

.selector-list > .item:not(:last-child) {
  margin-right: 8px;
}

.selector-list-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-selector {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: #f5f4fa;
}

.button-selector:hover,
.button-selector:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
}

.examples-list-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.examples-list-item:nth-child(3n) {
  margin-right: 0;
}

.examples-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.examples-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.examples-description-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio-main {
  border-top: 1px solid #ececec;
}
